/**----------------------
*         RESET 
-----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  font-weight: 400;
}
/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**----------------------
*      CUSTOM PROPS 
-----------------------*/
:root {
  /* colours */
  --clr-soft-blue: 215, 51%, 70%;
  --clr-cyan: 178, 100%, 50%;

  --clr-main-bg: 217, 54%, 11%;
  --clr-card-bg: 216, 50%, 16%;
  --clr-line: 215, 32%, 27%;

  --clr-white: 0, 0%, 100%;

  /* font family */
  --ff-outfit: 'Outfit', sans-serif;

  /* font size */
  --fs-default: 1.125rem;

  /* font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;

  /* breakpoints */
  --bp-sm: 23.4375em;
  --bp-md: 48em;
  --bp-lg: 90em;
}

/**----------------------
*       GENERAL
-----------------------*/
body {
  font-family: var(--ff-outfit);
  font-size: var(--fs-default);
  font-weight: var(--fw-regular);
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: hsl(var(--clr-main-bg));
  height: 100vh;
  width: 100vw;
}

/**----------------------
*       UTILITIES
-----------------------*/
.hidden {
  display: none !important;
}

.mb--1 {
  margin-bottom: 1rem !important;
}
.mb--2 {
  margin-bottom: 2rem !important;
}

/**----------------------
*   NFT-CARD COMPONENT
-----------------------*/
.nft-card {
  background-color: hsl(var(--clr-card-bg));
  border-radius: 0.9375rem;
  overflow: hidden;
  padding: 1.25rem;
  width: 21.875rem;
}

/* top image */
.nft-card__image {
  position: relative;

  cursor: pointer;
  width: 100%;
}

.nft-card__image > * {
  border-radius: 10px;
}

.overlay--cyan {
  display: none;
}

.nft-card__image:hover .overlay--cyan {
  position: absolute;
  top: 0;
  left: 0;

  background-color: hsl(var(--clr-cyan), 0.5);
  display: block;
  height: 100%;
  width: 100%;
}

.nft-card__image:hover .overlay--cyan > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* content */
.nft-card__content {
  border-bottom: 2px solid hsl(var(--clr-line));
}

.nft-card__title {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: var(--fw-semibold);
  margin-bottom: 1rem;
}

.nft-card__title:hover {
  color: hsl(var(--clr-cyan));
}

.nft-card__text {
  color: hsl(var(--clr-white), 0.5);
  margin-bottom: 1rem;
}

/* price and time */
.nft-card__price {
  display: flex;
  justify-content: space-between;
}

.nft-card__ethereum-amount {
  color: hsl(var(--clr-cyan));
}

.nft-card__ethereum-icon {
  display: inline-block;
}

.nft-card__ethereum-time {
  color: hsl(var(--clr-white), 0.5);
  margin-bottom: 1rem;
}

.nft-card__ethereum-clock {
  display: inline-block;
}

/* user */
.nft-card__user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 88%;
}

.nft-card__user-image {
  border: 1px solid white;
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
}

.nft-card__user-name span:hover {
  color: hsl(var(--clr-cyan));
  cursor: pointer;
}
